* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.product {
    display: flex;
    height: 12rem;
    padding: 1rem;
    width: 660px;
    margin-top: 1.5rem;
    border: 2px solid grey;
}

.img-container {
    height: 10rem;
    width: 10rem;
    margin-right: 2rem;
}

.img-container img {
    height: 10rem;
    width: 10rem;
}

.product-name {
    font-weight: bold;
    line-height: 1rem;
    height: 4rem;
    width: 9rem;
}

.rating-container img {
    height: 1rem;
}

.product-price {
    height: 1.5rem;
}

.delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
}

.delivery-text {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}