* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.grid-container {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.product {
    display: flex;
    flex-direction: column;
    height: 350px;

    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);

}

.img-container img {
    display: block;
    margin: 0 auto;
    height: 180px;
    max-width: 100%;
    width: auto;
    object-fit: contain;

}

.product-name {
    line-height: 1rem;
    height: 4rem;
    width: 9rem;
}

.rating-container img {
    height: 1rem;
}

.product-price {
    height: 1.5rem;
}

.added-text {
    color: green;
    font-weight: bold;
    visibility: hidden;
}

.button-container {
    width: 80%;
}

.add-to-cart-btn {
    height: 2rem;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    background-color: rgb(255, 216, 20);
    cursor: pointer;
    color: rgb(40, 40, 40);

}

.add-to-cart-btn:hover {
    background-color: rgb(236, 201, 26);
}

/* @media (max-width: 1300px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }
}

@media (max-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(4 1fr);
        height: 180px;
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3 1fr);
    }
} */