* {
    margin: 0;
    padding: 0;
}

.main-navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    height: 60px;
    background-color: rgb(1, 3, 15);
    color: white;
}

.left-bar {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.amazon-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.amazon-container img {
    height: 50%;
}

.midle-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
}

.main-input {
    width: 90%;
    height: 95%;
}

.right-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.cart-container {
    position: relative;
    text-align: center;
}

.cart-container img {
    height: 2rem;
}

.centered {
    position: absolute;
    top: 28%;
    left: 59%;
    transform: translate(-50%, -50%);
}