* {
    margin: 0;
    padding: 0;
}

.main-navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    height: 2.5rem;
    background-color: rgb(1, 3, 15);
    color: white;
}

.left-bar {
    height: 2.5rem;
    display: flex;
    /* justify-content: center; */
}

.amazon-container img {
    height: 2rem;
}

.midle-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
}

.right-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.cart-container {
    position: relative;
    text-align: center;
}

.cart-container img {
    height: 2rem;
}

.centered {
    position: absolute;
    top: 28%;
    left: 59%;
    transform: translate(-50%, -50%);
}

.main-input {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 85%;
    height: 80%;
}