* {
    margin: 0;
    padding: 0;
}

.main-navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    height: 60px;
    background-color: #131921;
    color: white;
}

.left-bar {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.amazon-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.amazon-container a {
    height: 100%;
    display: flex;
    align-items: center;
}

.amazon-container a img {
    height: 45%;
}

.amazon-container img:hover {
    cursor: pointer;
}

.midle-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
}

.main-input {
    width: 95%;
    height: 95%;
    font-size: 0.9rem;
}

.right-bar {
    height: 2.5rem;
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.cart-container {
    position: relative;
    text-align: center;
}

.cart-container:hover {
    cursor: pointer;
}

.cart-container img {
    height: 2rem;
}

.cart-container img:hover {
    cursor: pointer;
}

.centered {
    color: orange;
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    top: 24%;
    left: 59%;
    transform: translate(-50%, -50%);
}